---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/tv/1418?api_key=fb6a1d3f38c3d97f67df6d141f936f29&language=en-US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - W/"c08129d6039396ff573d82793fd89b3a"
      X-Memc:
      - HIT
      X-Memc-Age:
      - '9755'
      X-Memc-Expires:
      - '19045'
      X-Memc-Key:
      - 365145cea7faade37fd672a5b9b1f243
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '36'
      X-Ratelimit-Reset:
      - '1528068282'
    body:
      encoding: UTF-8
      string: '{"backdrop_path":"/nGsNruW3W27V6r4gkyc3iiEGsKR.jpg","created_by":[{"id":160172,"name":"Chuck
        Lorre","gender":2,"profile_path":"/btpYlMV71sjQXrV142I9kogEINI.jpg"},{"id":163528,"name":"Bill
        Prady","gender":2,"profile_path":"/duXUvo8JtivQR0BHiXHGQwoNYB4.jpg"}],"episode_run_time":[22],"first_air_date":"2007-09-24","genres":[{"id":35,"name":"Comedy"}],"homepage":"http://www.cbs.com/shows/big_bang_theory/","id":1418,"in_production":true,"languages":["en"],"last_air_date":"2018-05-10","name":"The
        Big Bang Theory","networks":[{"name":"CBS","id":16,"logo_path":"/nm8d7P7MJNiBLdgIzUK0gkuEA4r.png","origin_country":"US"}],"number_of_episodes":255,"number_of_seasons":11,"origin_country":["US"],"original_language":"en","original_name":"The
        Big Bang Theory","overview":"The Big Bang Theory is centered on five characters
        living in Pasadena, California: roommates Leonard Hofstadter and Sheldon Cooper;
        Penny, a waitress and aspiring actress who lives across the hall; and Leonard
        and Sheldon''s equally geeky and socially awkward friends and co-workers,
        mechanical engineer Howard Wolowitz and astrophysicist Raj Koothrappali. The
        geekiness and intellect of the four guys is contrasted for comic effect with
        Penny''s social skills and common sense.","popularity":301.426365,"poster_path":"/ooBGRQBdbGzBxAVfExiO8r7kloA.jpg","production_companies":[{"id":35504,"logo_path":null,"name":"Chuck
        Lorre Productions","origin_country":"US"},{"id":1957,"logo_path":"/nmcNfPq03WLtOyufJzQbiPu2Enc.png","name":"Warner
        Bros. Television","origin_country":"US"}],"seasons":[{"air_date":null,"episode_count":3,"id":3732,"name":"Specials","overview":"","poster_path":"/gtWHKUsG8de6LdZQoCsjUqrLJ1R.jpg","season_number":0},{"air_date":"2007-09-24","episode_count":17,"id":3738,"name":"Season
        1","overview":"University physicists Leonard and Sheldon know whether to use
        an integral or a differential to solve the area under a curve. But they don''t
        have a clue about girls. Or dating. Or clothes. Or parties. Or having fun.
        Or, basically, life. So when a pretty blonde named Penny moves in the apartment
        across the hall, the guys decide to get an education outside of the classroom[...]
