---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/tv?api_key=fb6a1d3f38c3d97f67df6d141f936f29&language=en-US&query=Ali%20Wong
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - 72b32a1f754ba1c09b3695e0cb6cde7f
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '39'
      X-Ratelimit-Reset:
      - '1528393980'
    body:
      encoding: UTF-8
      string: '{"page":1,"total_results":0,"total_pages":1,"results":[]}'
  recorded_at: Thu, 07 Jun 2018 17:53:17 GMT
recorded_with: VCR 4.0.0
