---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/tv/1418/recommendations?api_key=fb6a1d3f38c3d97f67df6d141f936f29&language=en-US&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - W/"c4c8437349f7fc1263e1f1bcf9811a87"
      X-Memc:
      - HIT
      X-Memc-Age:
      - '22984'
      X-Memc-Expires:
      - '5816'
      X-Memc-Key:
      - 86e7a5ca306a57062775a27b02c93c43
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '39'
      X-Ratelimit-Reset:
      - '1528237189'
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"backdrop_path":"/wfe7Xf7tc0zmnkoNyN3xor0xR8m.jpg","first_air_date":"2005-09-19","genre_ids":[35],"id":1100,"name":"How
        I Met Your Mother","origin_country":["US"],"original_language":"en","original_name":"How
        I Met Your Mother","overview":"How I Met Your Mother is an American sitcom
        that originally aired on CBS from September 19, 2005, to March 31, 2014. The
        series follows the main character, Ted Mosby, and his group of friends in
        Manhattan. As a framing device, Ted, in the year 2030, recounts to his son
        and daughter the events that led to his meeting their mother.","poster_path":"/izncB6dCLV7LBQ5MsOPyMx9mUDa.jpg","vote_average":7.4,"vote_count":838,"networks":[{"id":16,"logo":{"path":"/nm8d7P7MJNiBLdgIzUK0gkuEA4r.png","aspect_ratio":3.282122905027933},"name":"CBS","origin_country":"US"}]},{"backdrop_path":"/efiX8iir6GEBWCD0uCFIi5NAyYA.jpg","first_air_date":"1994-09-22","genre_ids":[35],"id":1668,"name":"Friends","origin_country":["US"],"original_language":"en","original_name":"Friends","overview":"The
        misadventures of a group of friends as they navigate the pitfalls of work,
        life and love in Manhattan.","poster_path":"/7buCWBTpiPrCF5Lt023dSC60rgS.jpg","vote_average":7.8,"vote_count":1173,"networks":[{"id":6,[...]
