---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/discover/tv?api_key=fb6a1d3f38c3d97f67df6d141f936f29&sort_by=popularity.desc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '39'
      X-Ratelimit-Reset:
      - '1527960524'
    body:
      encoding: UTF-8
      string: '{"page":1,"total_results":73781,"total_pages":3690,"results":[{"original_name":"The
        Big Bang Theory","id":1418,"name":"The Big Bang Theory","popularity":328.989079,"vote_count":2979,"vote_average":6.8,"first_air_date":"2007-09-24","poster_path":"\/ooBGRQBdbGzBxAVfExiO8r7kloA.jpg","genre_ids":[35],"original_language":"en","backdrop_path":"\/nGsNruW3W27V6r4gkyc3iiEGsKR.jpg","overview":"The
        Big Bang Theory is centered on five characters living in Pasadena, California:
        roommates Leonard Hofstadter and Sheldon Cooper; Penny, a waitress and aspiring
        actress who lives across the hall; and Leonard and Sheldon''s equally geeky
        and socially awkward friends and co-workers, mechanical engineer Howard Wolowitz
        and astrophysicist Raj Koothrappali. The geekiness and intellect of the four
        guys is contrasted for comic effect with Penny''s social skills and common
        sense.","origin_country":["US"]},{"original_name":"Westworld","genre_ids":[878,37],"name":"Westworld","popularity":175.027146,"origin_country":["US"],"vote_count":1358,"first_air_date":"2016-10-02","backdrop_path":"\/yp94aOXzuqcQHva90B3jxLfnOO9.jpg","original_language":"en","id":63247,"vote_average":8.2,"overview":"A
        dark odyssey about the dawn of artificial consciousness and the evolution
        of sin. Set at the intersection of the near future and the reimagined past,
        it explores a world in which eve[...]
