<% show_array.each do |show| %>
  <div class="tv-show col-md-4 card">
    <%= image_tag "http://image.tmdb.org/t/p/w200#{show["poster_path"]}" %>
    <div class="show-content">
      <h5 class="title">
        <%= link_to show["name"], show_path(show["id"]) %>
      </h5>
    </div>
  </div>
<% end %>