<p>"This product uses the TMDb API but is not endorsed or certified by TMDb." Any use of the TMDb logo in your application shall be less prominent than the logo or mark that primarily describes the application and your use of the TMDb logo shall not imply any endorsement by TMDb. </p>
 <p>Powered by <%= link_to 'The Movie DB', 'https://www.themoviedb.org/' %></p>