<div class="row">
  <div class="container-fluid">
    <h1>Search Results</h1>

    <% if @error_message %>
      <div><%= @error_message %></div>
    <% end %>

    <div class="popular-shows row">
      <%= render partial: 'show_layout', locals: {show_array: @search_results} %>
    </div>
  </div>
</div>