<div class="row">
  <div class="col-md-7">
    <h1>Search Results</h1>

    <div class="popular-shows">
      <%= render partial: 'show_layout', locals: {show_array: @search_results} %>
    </div>
  </div>
</div>